body {
	margin: 0;
	background-color: rgba(0,0,255,0.4);
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: orange;
	cursor: pointer;
}

ul.topnav li a.active {
	background-color: #72DDEE;
}

ul.topnav li.right {
	float: right;
}

div {
	padding:0 16px;
}

h1 {
	color: #72DDEE;
	font-family: cursive;
	text-align: center;
	font-size: 100px;
}

#text, li a {
	font-family: "Comic Sans", sans-serif;
}
